# Gradle cache + build outputs
.gradle/
build/
*/build/

# Android Studio/IDE
.idea/
*.iml

# Machine-local config
local.properties

# Local JDK bundled in repo (không nên commit)
jdk-*/

# Keystore & secrets
*.jks
*.keystore
**/keystore/**
**/google-services.json
*.pem
*.p12
*.keystores

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc editors
.vscode/
*.swp
*.swo# Gradle cache + build outputs
.gradle/
build/
*/build/

# Android Studio/IDE
.idea/
*.iml

# Machine-local config
local.properties

# Local JDK bundled in repo (không nên commit)
jdk-*/

# Keystore & secrets
*.jks
*.keystore
**/keystore/**
**/google-services.json
*.pem
*.p12
*.keystores

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc editors
.vscode/
*.swp
*.swo